NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=YOUR_PROJECT_ID
NEXT_PUBLIC_RPC_URL_BASE_MAINNET=
NEXT_PUBLIC_RPC_URL_BASE_SEPOLIA=
NEXT_PUBLIC_DIRECTORY_ADDRESS_MAINNET=
NEXT_PUBLIC_DIRECTORY_ADDRESS_SEPOLIA=
