NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=YOUR_PROJECT_ID
NEXT_PUBLIC_RPC_URL_BASE_MAINNET=
NEXT_PUBLIC_RPC_URL_BASE_SEPOLIA=https://base-sepolia.g.alchemy.com/v2/MkIl1aCbfeHNPO7ZBU7S8
NEXT_PUBLIC_DIRECTORY_ADDRESS_MAINNET=0xB145AC2a59575Fbe306a58aC924718f4DD4659Da
NEXT_PUBLIC_DIRECTORY_ADDRESS_SEPOLIA=0xB145AC2a59575Fbe306a58aC924718f4DD4659Da
